<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NBuilder" version="3.0.1.1" targetFramework="net45" />
  <package id="SemanticGit" version="2.1.22" targetFramework="net40" developmentDependency="true" />
  <package id="xmisc.foundation.concretes" version="1.0.5-rc-445bfc1" targetFramework="net40" />
  <package id="xmisc.foundation.contracts" version="1.0.1-rc-2e281b3" targetFramework="net40" />
  <package id="xmisc.infrastructure.concretes" version="1.0.2-rc-3781b50" targetFramework="net40" />
  <package id="xmisc.infrastructure.contracts" version="1.0.1-rc-2e281b3" targetFramework="net40" />
  <package id="xunit" version="1.9.2" targetFramework="net40" />
</packages>