<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="reexmonkey.xcal.application.server.web.dev.test.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="reexmonkey.xcal.application.server.web.dev.test.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <reexmonkey.xcal.application.server.web.dev.test.Properties.Settings>
            <setting name="remote_server" serializeAs="String">
                <value>https://reexux.com/xcal</value>
            </setting>
            <setting name="fpiDescription" serializeAs="String">
                <value>iCalendar Web Services Provider</value>
            </setting>
            <setting name="fpiOwner" serializeAs="String">
                <value>reexMonkey</value>
            </setting>
            <setting name="fpiLanguageId" serializeAs="String">
                <value>EN</value>
            </setting>
            <setting name="fpiAuthority" serializeAs="String">
                <value>None</value>
            </setting>
        </reexmonkey.xcal.application.server.web.dev.test.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <reexmonkey.xcal.application.server.web.dev.test.Properties.Settings>
            <setting name="local_server" serializeAs="String">
                <value>http://localhost:3105</value>
            </setting>
        </reexmonkey.xcal.application.server.web.dev.test.Properties.Settings>
    </userSettings>
</configuration>