<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="elmah" version="1.2.2" targetFramework="net40" />
  <package id="elmah.corelibrary" version="1.2.2" targetFramework="net40" />
  <package id="MySql.Data" version="6.9.5" targetFramework="net40" />
  <package id="NLog" version="3.1.0.0" targetFramework="net40" />
  <package id="SemanticGit" version="2.0.7" targetFramework="net40" developmentDependency="true"/>
  <package id="ServiceStack" version="3.9.71" targetFramework="net40" />
  <package id="ServiceStack.Common" version="3.9.71" targetFramework="net40" />
  <package id="ServiceStack.Logging.Elmah" version="3.9.71" targetFramework="net40" />
  <package id="ServiceStack.Logging.NLog" version="3.9.71" targetFramework="net40" />
  <package id="ServiceStack.OrmLite.MySql" version="3.9.71" targetFramework="net40" />
  <package id="ServiceStack.OrmLite.SqlServer" version="3.9.71" targetFramework="net40" />
  <package id="ServiceStack.Plugins.MsgPack" version="3.9.71" targetFramework="net40" />
  <package id="ServiceStack.Redis" version="3.9.71" targetFramework="net40" />
  <package id="ServiceStack.Text" version="3.9.71" targetFramework="net40" />
</packages>