<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FluentValidation" version="6.0.2.0" targetFramework="net40" />
  <package id="SemanticGit" version="2.1.22" targetFramework="net40" developmentDependency="true" />
  <package id="ServiceStack" version="3.9.71" targetFramework="net40" />
  <package id="ServiceStack.Common" version="3.9.71" targetFramework="net40" />
  <package id="ServiceStack.OrmLite.SqlServer" version="3.9.71" targetFramework="net40" />
  <package id="ServiceStack.Redis" version="3.9.71" targetFramework="net40" />
  <package id="ServiceStack.Text" version="3.9.71" targetFramework="net40" />
  <package id="xmisc.foundation.concretes" version="1.0.78-rc-999002a" targetFramework="net40" />
  <package id="xmisc.foundation.contracts" version="1.0.78-rc-999002a" targetFramework="net40" />
  <package id="xmisc.infrastructure.concretes" version="1.0.78-rc-999002a" targetFramework="net40" />
  <package id="xmisc.infrastructure.contracts" version="1.0.78-rc-999002a" targetFramework="net40" />
  <package id="xmisc.technical.data.concretes" version="1.0.78-rc-999002a" targetFramework="net40" />
  <package id="xmisc.technical.data.contracts" version="1.0.78-rc-999002a" targetFramework="net40" />
</packages>