<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="reexjungle.xcal.test.server.integration.concretes.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <reexjungle.xcal.test.server.integration.concretes.Properties.Settings>
            <setting name="remote_dev1_uri" serializeAs="String">
                <value>https://reexux.com/xcal/dev1/</value>
            </setting>
            <setting name="remote_dev2_uri" serializeAs="String">
                <value>https://reexux.com/xcal/dev2/</value>
            </setting>
            <setting name="localhost_uri" serializeAs="String">
                <value>http://localhost:3105</value>
            </setting>
        </reexjungle.xcal.test.server.integration.concretes.Properties.Settings>
    </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.9.5.0" newVersion="6.9.5.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
 <startup>
   <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
 </startup>
  <appSettings>
    <add key="xunit.methodDisplay" value="method"/>
  </appSettings>
</configuration>
