<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="3.3.3" targetFramework="net45" />
  <package id="FluentValidation" version="6.2.1.0" targetFramework="net45" />
  <package id="Moq" version="4.5.10" targetFramework="net45" />
  <package id="NBuilder" version="3.0.1.1" targetFramework="net40" />
  <package id="ServiceStack" version="3.9.71" targetFramework="net45" />
  <package id="ServiceStack.Common" version="3.9.71" targetFramework="net45" />
  <package id="ServiceStack.OrmLite.SqlServer" version="3.9.71" targetFramework="net45" />
  <package id="ServiceStack.Redis" version="3.9.71" targetFramework="net45" />
  <package id="ServiceStack.Text" version="3.9.71" targetFramework="net45" />
  <package id="Tynamix.ObjectFiller" version="1.5.0" targetFramework="net45" />
  <package id="xmisc.foundation.concretes" version="1.0.81-rc-f858a00" targetFramework="net45" />
  <package id="xmisc.foundation.contracts" version="1.0.81-rc-f858a00" targetFramework="net45" />
  <package id="xmisc.infrastructure.concretes" version="1.0.81-rc-f858a00" targetFramework="net45" />
  <package id="xmisc.infrastructure.contracts" version="1.0.81-rc-f858a00" targetFramework="net45" />
  <package id="xmisc.technical.data.concretes" version="1.0.81-rc-f858a00" targetFramework="net45" />
  <package id="xmisc.technical.data.contracts" version="1.0.81-rc-f858a00" targetFramework="net45" />
  <package id="xunit" version="2.1.0" targetFramework="net45" />
  <package id="xunit.abstractions" version="2.0.0" targetFramework="net451" />
  <package id="xunit.assert" version="2.1.0" targetFramework="net45" />
  <package id="xunit.core" version="2.1.0" targetFramework="net45" />
  <package id="xunit.extensibility.core" version="2.1.0" targetFramework="net45" />
  <package id="xunit.extensibility.execution" version="2.1.0" targetFramework="net45" />
  <package id="xunit.runner.visualstudio" version="2.1.0" targetFramework="net45" />
</packages>