<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="elmah.corelibrary" version="1.2.2" targetFramework="net45" />
  <package id="MySql.Data" version="6.9.5" targetFramework="net45" />
  <package id="NLog" version="3.1.0.0" targetFramework="net45" />
  <package id="SemanticGit" version="2.0.8" targetFramework="net45" developmentDependency="true" />
  <package id="ServiceStack" version="3.9.71" allowedVersions="[3,4)" targetFramework="net45" />
  <package id="ServiceStack.Common" version="3.9.71" allowedVersions="[3,4)" targetFramework="net45" />
  <package id="ServiceStack.Logging.Elmah" version="3.9.71" allowedVersions="[3,4)" targetFramework="net45" />
  <package id="ServiceStack.Logging.NLog" version="3.9.71" allowedVersions="[3,4)" targetFramework="net45" />
  <package id="ServiceStack.OrmLite.MySql" version="3.9.71" allowedVersions="[3,4)" targetFramework="net45" />
  <package id="ServiceStack.OrmLite.SqlServer" version="3.9.71" allowedVersions="[3,4)" targetFramework="net45" />
  <package id="ServiceStack.Plugins.MsgPack" version="3.9.71" allowedVersions="[3,4)" targetFramework="net45" />
  <package id="ServiceStack.Redis" version="3.9.71" allowedVersions="[3,4)" targetFramework="net45" />
  <package id="ServiceStack.Text" version="3.9.71" allowedVersions="[3,4)" targetFramework="net45" />
</packages>