<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="reexmonkey.xcal.application.server.web.local.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="xcal.application.server.web.local.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
      <httpHandlers>
        <add path="*" type="ServiceStack.WebHost.Endpoints.ServiceStackHttpHandlerFactory, ServiceStack" verb="*" />
      </httpHandlers>
    </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add path="*" name="ServiceStack.Factory" type="ServiceStack.WebHost.Endpoints.ServiceStackHttpHandlerFactory, ServiceStack" verb="*" preCondition="integratedMode" resourceType="Unspecified" allowPathInfo="true" />
    </handlers>
  </system.webServer>
  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-6.8.3.0" newVersion="6.8.3.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0" />

      </dependentAssembly>

    </assemblyBinding>

  </runtime>
  <applicationSettings>
    <reexmonkey.xcal.application.server.web.local.Properties.Settings>
      <setting name="service_name" serializeAs="String">
        <value>xCal - iCalendar Web Services</value>
      </setting>
      <setting name="redis_server" serializeAs="String">
        <value>localhost:6379</value>
      </setting>
      <setting name="mysql_server" serializeAs="String">
        <value>Server = localhost; Uid = local; Pwd = local;</value>
      </setting>
      <setting name="calendars_page_count" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="events_page_count" serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="alarms_page_count" serializeAs="String">
        <value>120</value>
      </setting>
      <setting name="fpiLanguageId" serializeAs="String">
        <value>En-en</value>
      </setting>
      <setting name="fpiDescription" serializeAs="String">
        <value>iCalendar Web Services</value>
      </setting>
      <setting name="fpiOwner" serializeAs="String">
        <value>reexMonkey</value>
      </setting>
      <setting name="fpiAuthority" serializeAs="String">
        <value>None</value>
      </setting>
      <setting name="db_provider_type" serializeAs="String">
        <value>relational</value>
      </setting>
      <setting name="xcal_db_name" serializeAs="String">
        <value>xcal_local_db</value>
      </setting>
      <setting name="overwrite_db" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="xcal_logdb_name" serializeAs="String">
        <value>xcal_logger_local_db</value>
      </setting>
    </reexmonkey.xcal.application.server.web.local.Properties.Settings>
    <xcal.application.server.web.local.Properties.Settings>
      <setting name="service_name" serializeAs="String">
        <value>xCal - iCalendar Web Services</value>
      </setting>
    </xcal.application.server.web.local.Properties.Settings>
  </applicationSettings>
</configuration>
